# Vibration Strength
on property:persist.vib_strength=0
    write /sys/class/leds/vibrator/vmax 50

on property:persist.vib_strength=1
    write /sys/class/leds/vibrator/vmax 100

on property:persist.vib_strength=2
    write /sys/class/leds/vibrator/vmax 250
